In [ ]:
import pandas as pd

In [ ]:
#Reading files
orders=pd.read_table('https://bit.ly/chiporders')

In [ ]:
#Viewing data
orders.head()#---defaultly shows first 5 rows.

In [ ]:
#lets another data set
movies=pd.read_table('https://bit.ly/movieusers')#Observe they are not seperated properly 
movies

In [ ]:

movies=pd.read_table('https://bit.ly/movieusers',sep='|')#Observe they are separated properly now.
movies

In [ ]:
#To remove the column names are we do not want to consider default column names and name columns as per our desire.
#lets another data set
user_cols=['user_id','age','Gender','Occupation','zipcode']
movies=pd.read_table('https://bit.ly/movieusers',sep='|',header=None,names=user_cols)
movies.head()

In [ ]:
movies.dtypes

In [ ]:
#Lets Load another data perform some eda on it
ufo=pd.read_table('https://bit.ly/uforeports',sep=',')#comma seperated.csv[Format]
ufo.head()

In [ ]:
ufo.tail()#view last 5 rows

In [ ]:
ufo.shape#Shape of data rows and columns

In [ ]:
ufo.describe().T#[DESCRIBING and Transformting]

In [ ]:
ufo.describe(include='all').T

In [ ]:
ufo.describe(include='object').T

In [ ]:
ufo.describe().T#Gives int and float only defaulty

In [ ]:
ufo.dtypes

In [ ]:
#To view columns
ufo.columns

In [ ]:
#Rename coloumns
ufo.rename(columns={'Colors Reported':'Colors','Shape Reported':'Shape'},inplace=True)

In [ ]:
#For Specific Columns
ufo.rename(columns={'Colors Reported':'Colors'},inplace=True)

In [ ]:
#For all Columns
ufo_names=['city','colors','shape','state','time']
ufo.columns=ufo_names

In [ ]:
ufo.head()

In [ ]:
#While reading you want to rename columns
ufo=pd.read_table('https://bit.ly/uforeports',sep=',',names=ufo_names,header=0)
ufo.head()

In [ ]:
#Replacing space ' ' with' _' For all columns
ufo=pd.read_table('https://bit.ly/uforeports',sep=',')
ufo.columns=ufo.columns.str.replace(' ','_')
ufo.head()

In [ ]:
#Remove column
ufo=pd.read_table('https://bit.ly/uforeports',sep=',',names=ufo_names,header=0)
ufo.drop('colors',axis=1,inplace=True)
ufo.head()

In [ ]:
#Two columns dropping
ufo.drop(['city','state'],axis=1,inplace=True)#INPLACE DROPS PERMANENT
ufo.head()

In [ ]:
#To Drop rows
ufo.drop([0,1],axis=0,inplace=True)#same using indexing
ufo.head()

In [ ]:
#Lets see movies dataset
movies.head()

In [ ]:
#Sorting in decending
movies['age'].sort_values(ascending=False).head()

In [ ]:
#Sorting in ascending
movies['age'].sort_values(ascending=True).head()#default ascending=True

In [ ]:
#Sorting Two Columns
movies.sort_values(['age','zipcode'],ascending=[False,True])

In [ ]:
ratings=pd.read_table('https://bit.ly/imdbratings',sep=',')
ratings.head()

In [ ]:
#QUERY CONDITION
ratings[ratings['duration']>=200]='Long'

In [ ]:
ratings.head()

In [ ]:
ratings[ratings['duration']>=200]['genre']

In [ ]:
ratings.loc[ratings['duration']>=200,'genre']#loc ---row amd column

In [ ]:
#TWO CONDITIONS
ratings[(ratings['duration']>=200) & (ratings['genre']=='Drama')]

In [ ]:
#three conditions
ratings[(ratings['genre']=='Crime') & (ratings['genre']=='Drama') & (ratings['genre']=='Action') ]

In [ ]:
ratings[ratings['genre'].isin(['Crime','Action','Drama'])]

In [ ]:
#To read specific columns from DataFrame
ufo=pd.read_table('https://bit.ly/uforeports',sep=',',names=ufo_names,header=0)
ufo.head()

In [ ]:
ufo=pd.read_table('https://bit.ly/uforeports',sep=',',usecols=['City','Time'],header=0)
ufo.head()

In [ ]:
#Another way
ufo=pd.read_table('https://bit.ly/uforeports',sep=',',usecols=[0,4],header=0)
ufo.head()

In [ ]:
#Iteration using a column
for c in ufo['City']:
    print(c)

In [ ]:
#Iteration through DataFrame
for index,row in ufo.iterrows():
    print(index,row['city'],row['state'])

In [ ]:
#Mean :
#lets load Drinks Dataset
drinks=pd.read_csv('https://bit.ly/drinksbycountry')
drinks.head()

In [ ]:
drinks.dtypes

In [ ]:
drinks.mean()

In [ ]:
drinks.mean(axis=0)#row wise mean

In [ ]:
drinks.mean(axis=1)#column wise mean

In [ ]:
drinks.mean(axis='index') #row wise mean

In [ ]:
drinks.mean(axis='columns')#column wise mean

In [ ]:
orders=pd.read_table('https://bit.ly/chiporders')
orders.head()

In [ ]:
orders.dtypes

In [ ]:
#TO APPLY STRINGS METHODS ON DATAFRAME

orders['item_name']=orders['item_name'].str.upper()

In [ ]:
orders['item_name']

In [ ]:
orders[orders['item_name'].str.contains('CHICKEN')]

In [ ]:
orders['choice_description']=orders['choice_description'].str.replace('[' , ' ').str.replace(']' , ' ')

In [ ]:
orders.head()

In [ ]:
#Another way

In [ ]:
orders['choice_description']=orders['choice_description'].str.replace('[\[\]]',' ')
orders.head()

In [ ]:
#Change Series Data Type
drinks['beer_servings']=drinks['beer_servings'].astype(float)
drinks.dtypes

In [ ]:
#During Reading Df changeType
drinks=pd.read_csv('https://bit.ly/drinksbycountry',dtype={'beer_servings':float})

In [ ]:
drinks.head()

In [ ]:
orders

In [ ]:
orders['item_price']=orders['item_price'].str.replace('$',' ').astype('float').mean()

In [ ]:
orders

In [ ]:
orders.dtypes

In [ ]:
orders['item_price']=orders['item_price'].str.contains('Chicken').astype(int)

In [ ]:
#Using GroupBy

In [ ]:
drinks.groupby('continent')['beer_servings'].mean()

In [ ]:
drinks[drinks['continent']=='Africa']['beer_servings'].mean()

In [ ]:
drinks.groupby('continent')['beer_servings'].min()

In [ ]:
drinks.groupby('continent')['beer_servings'].max()

In [ ]:
drinks.groupby('continent')['beer_servings'].agg(['count','min','max','mean']).T

In [ ]:
drinks.groupby('continent').mean()

In [ ]:
#Lets Represent them graphically
%matplotlib inline
drinks.groupby('continent').mean().plot(kind='bar')

In [ ]:
drinks.groupby('continent').mean().plot(kind='kde')

In [ ]:
#Explore a Series or column of df

In [ ]:
ratings['genre'].describe()

In [ ]:
#Count
ratings['genre'].value_counts()

In [ ]:
# %Percentages
ratings['genre'].value_counts(normalize=True)

In [ ]:
#Top 5 in series
ratings['genre'].value_counts().head()

In [ ]:
#Unique in series
ratings['genre'].unique()

In [ ]:
#Count of unique
ratings['genre'].nunique()

In [ ]:
#Comparing Two Series use crosstabs
pd.crosstab(ratings['genre'],ratings['content_rating'])

In [ ]:
ratings['duration'].describe()

In [ ]:
ratings['duration'].mean()

In [ ]:
ratings['duration'].value_counts()

In [ ]:
#Visualizing the data
%matplotlib inline
ratings['duration'].plot(kind='hist')

In [ ]:
ratings['duration'].plot(kind='bar')

In [ ]:
#Missing values(Nan : not a Value)
ufo.isnull().tail()

In [ ]:
ufo.notnull().tail()

In [ ]:
ufo.isnull().sum()

In [ ]:
#View in data Frame Null values
ufo[ufo['city'].isnull()]

In [ ]:
ufo.shape

In [ ]:
ufo.dropna(how='any').shape #If any Null Vlaues are there they would be dropped

In [ ]:
ufo.dropna(how='all').shape #If all missing values are there

In [ ]:
ufo.dropna(subset=['City','Shape Reported'],how='all').shape

In [ ]:
ufo['Shape Reported'].value_counts(dropna=False)

In [ ]:
ufo['Shape Reported'].fillna(value='Various',inplace=True)

In [ ]:
ufo['Shape Reported'].value_counts()

In [ ]:
#Pandas Indexing part1

In [ ]:
drinks.index

In [ ]:
drinks.columns

In [ ]:
drinks.shape

In [ ]:
#LOC:-
drinks.head()

In [ ]:
drinks.loc[23,'beer_servings']#['Row']['columns']

In [ ]:
drinks.set_index('country',inplace=True)

In [ ]:
drinks

In [ ]:
#Now Country cdolumn becomes the index
#so we can use brazil instead of 23
drinks.loc['Brazil','beer_servings']

In [ ]:
drinks.index.name=None

In [ ]:
drinks

In [ ]:
drinks.index.name='country'

In [ ]:
drinks

In [ ]:
drinks.reset_index(inplace=True)

In [ ]:
drinks.head()#Bck to normal

In [ ]:
drinks.describe().index

In [ ]:
drinks.describe().columns

In [ ]:
drinks.describe().loc['25%','beer_servings']

In [ ]:
#Part2

In [ ]:
drinks.set_index('country',inplace=True)

In [ ]:
drinks

In [ ]:
drinks['continent'].value_counts()

In [ ]:
drinks['continent'].value_counts().values

In [ ]:
drinks['continent'].value_counts().sort_values()

In [ ]:
drinks['continent'].value_counts().sort_index()

In [ ]:
people=pd.Series([300,850],index=['Albania','Iceland'],name='population')

In [ ]:
#Add population column

In [ ]:
pd.concat([drinks,people],axis=1).head()

In [ ]:
#LOC:

In [ ]:
ufo.loc[0,:]

In [ ]:
ufo.loc[[0,1,2],:] # or ufo.loc[0:2,:] Inclues 0,1,2 Remember Inclusive

In [ ]:
ufo.loc[:,'City']

In [ ]:
ufo.loc[:,['City','State']]

In [ ]:
ufo.loc[:,'City':'State']

In [ ]:
ufo.loc[0:2,'City':'State']

In [ ]:
ufo.head(3).drop('Time',axis=1)

In [ ]:
ufo[ufo['City']=='Oakland']

In [ ]:
#Another way
ufo.loc[ufo['City']=='Oakland',:]

In [ ]:
ufo.loc[ufo['City']=='Oakland','State']

In [ ]:
#ILoc

In [ ]:
ufo.iloc[:,[0,3]]

In [ ]:
ufo.iloc[:,0:4] #Exclusive of the last

In [ ]:
ufo.iloc[0:3,:] #Starts 0,1,2 exclusive 3

In [ ]:
#Inplace[For a permanent change in Df]

In [ ]:
ufo.drop('City',axis=1,inplace=True)

In [ ]:
ufo

In [ ]:
ufo.dropna(how='any')

In [ ]:
ufo.set_index('Time',inplace=True)

In [ ]:
ufo=ufo.set_index('Time')

In [ ]:
ufo.head()

In [ ]:
ufo.fillna(method='bfill').tail()

In [ ]:
ufo.fillna(method='ffill').tail()

In [ ]:
#Category[for smaller and Faster Df]

In [ ]:
drinks.info()

In [ ]:
drinks.info(memory_usage='deep')#More accurate Description

In [ ]:
drinks.memory_usage()

In [ ]:
drinks.memory_usage(deep=True)

In [ ]:
drinks.memory_usage(deep=True).sum()

In [ ]:
sorted(drinks['continent'].unique())

In [ ]:
drinks['continent']=drinks['continent'].astype('category')

In [ ]:
drinks.dtypes

In [ ]:
drinks['continent'].cat.codes.head()

In [ ]:
drinks['country']=drinks['country'].astype('category')

In [ ]:
drinks.memory_usage(deep=True) #VERY LESS SPACE OCCUPIED FOR CONTIENET
#BUT NOT SAME FOR THE COUNTRY WHY BECAUSE IT STORE 193 STRINGS AND LOOK UP TABLES ALSO HAS 193 category values so
#use category data type only when a string series has less category types.

In [ ]:
drinks['country'].cat.categories

In [ ]:
#Logical Sorting

In [ ]:
df=pd.DataFrame({'ID':[100,101,102,103],'quality': ['good','very good','good','excellent'] })
df

In [ ]:
df.sort_values('quality')#[Sorts Alphabetically]

In [ ]:
df['quality']=df['quality'].astype('category')

In [ ]:
cat_dtype=pd.api.types.CategoricalDtype(categories=['good','very good','excellent'],ordered=True)

In [ ]:
df['quality']=df['quality'].astype(cat_dtype)
df['quality']

In [ ]:
df.sort_values('quality')

In [ ]:
df.loc[df['quality']>'good',:]

In [ ]:
#To save a DataFrame to disk
#train=pd.read_csv('https:...')
#train.to_pickle('train.pkl')

In [ ]:
#To read pickle file
#pd.read_pickle('train.pkl')

In [ ]:
#To get random rows from Df
ufo.sample(n=3)

In [ ]:
#To get same rows 42 Times
ufo.sample(n=3,random_state=42)

In [ ]:
#To get a percentage of rows
ufo.sample(frac=0.75,random_state=99)

In [ ]:
#To seperate for test and train for machine Learning models
train=ufo.sample(frac=0.75,random_state=99)

In [ ]:
test=ufo.loc[~ufo.index.isin(train.index),:]

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
#Dummy Variables or Indicator Variables

In [ ]:
#Lets Load titanic dataset
train=pd.read_csv('https://bit.ly/kaggletrain')
train.head()

In [ ]:
#USING MAP FOR BINARY CLASSIFICATION KIND OF PROBLEMS
train['sex_male']=train['Sex'].map({'female':0,'male':1})
train.head()

In [ ]:
#USING GET DUMMIES
pd.get_dummies(train['Sex'])

In [ ]:
pd.get_dummies(train['Sex']).iloc[:,1:]

In [ ]:
pd.get_dummies(train['Sex'],prefix='Sex').iloc[:,1:]

In [ ]:
train['Embarked'].value_counts()

In [ ]:
embarked_dummies=pd.get_dummies(train['Embarked'],prefix='Embarked')

In [ ]:
train1=pd.concat([train,embarked_dummies],axis=1)

In [ ]:
pd.get_dummies(train,columns=['Sex','Embarked'],drop_first=True) #Automaticaly removes extra string and categorical types.

In [ ]:
#Duplicate Data

In [ ]:
user_cols=['user_id','age','gender','occupation','zipcode']
users=pd.read_table('https://bit.ly/movieusers',sep='|',header=None,names=user_cols,index_col='user_id')
users.head()

In [ ]:
users.shape

In [ ]:
users['zipcode'].duplicated().sum()#[DUPLICATED ROWS IN ZIPCODE]

In [ ]:
users.duplicated().sum()

In [ ]:
users.loc[users.duplicated(),:] #What rows where duplicated

In [ ]:
users.loc[users.duplicated(keep='first'),:]

In [ ]:
users.loc[users.duplicated(keep='last'),:]

In [ ]:
users.loc[users.duplicated(keep=False),:] #Marks all duplicated as true so we can see data which was duplicated
#shows original and duplicated

In [ ]:
#To drop Duplicates

In [ ]:
users.drop_duplicates(keep='first').shape #Drops first 7

In [ ]:
users.drop_duplicates(keep='last').shape #Drops last 7

In [ ]:
users.drop_duplicates(keep=False).shape#Drop all 14

In [ ]:
users.drop_duplicates(subset=['age','zipcode']).sum()#Shows duplicates

In [ ]:
users.drop_duplicates(subset=['age','zipcode']).shape

In [ ]:
#Setting with copy warnings:

In [ ]:
ratings.head()

In [ ]:
ratings['content_rating'].isnull().sum()

In [ ]:
ratings[ratings['content_rating'].isnull()]

In [ ]:
ratings['content_rating'].value_counts()

In [ ]:
ratings[ratings['content_rating']=='NOT RATED']['content_rating']=np.nan

In [ ]:
ratings['content_rating'].isnull().sum()#Still 3

In [ ]:
ratings[ratings['content_rating']=='NOT RATED']['content_rating']=np.nan

In [ ]:
top_movies=ratings.loc[ratings['star_rating']>9,:].copy()

In [ ]:
top_movies.loc[0,'duration']=150 #NO WARNING BECAUSE COPY IS USED SO LOC KNOW ITS A COPY
#AND NOT REFERANCE ORIGINAL RATINGS MOVIES DF

In [ ]:
#Convert df into array
df=pd.read_csv('assign.csv')
df.iloc[:,1:].values

In [ ]:
#Change Display options

In [ ]:
drinks #Displays first 5 last 5

In [ ]:
pd.get_option('display.max_rows')

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
drinks

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
drinks

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
drinks

In [ ]:
train=pd.read_csv('https://bit.ly/kaggletrain')

In [ ]:
train.head()

In [ ]:
pd.get_option('display.max_colwidth',1000)

In [ ]:
pd.get_option('display.precision')

In [ ]:
pd.get_option('display.precision',2)

In [ ]:
drinks

In [ ]:
drinks['x']=drinks['wine_servings']*1000

In [ ]:
drinks['Y']=drinks['total_litres_of_pure_alcohol']*1000

In [ ]:
drinks.head()

In [ ]:
pd.set_option('display.float_format','{:,}'.format)

In [ ]:
drinks.dtypes

In [ ]:
pd.describe_option() #ALL display settings

In [ ]:
pd.describe_option('rows')

In [ ]:
pd.reset_option('all')#Default reset to original

In [ ]:
#Create Pandas Df from another object

In [ ]:
I=pd.DataFrame({'Id':[100,101,102],'color':['red','blue','red']},columns=['Id','color'],index=['a','b','c'])

In [ ]:
L=pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']],columns=['Id','color'])

In [ ]:
arr=np.random.rand(4,2)

In [ ]:
arr

In [ ]:
o=pd.DataFrame(arr,columns=['one','two'])
o

In [ ]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}).set_index('student')

In [ ]:
S=pd.Series(['round','square'],index=['c','b'],name='SHAPE')
S

In [ ]:
pd.concat([I,S],axis=1)

In [ ]:
#Apply function to pandas Series & Df

In [ ]:
train.head()

In [ ]:
train['sex_num']=train['Sex'].map({'female':0,'male':1})

In [ ]:
train.loc[0:4,['Sex','sex_num']]

In [ ]:
train['Name_length']=train['Name'].apply(len)

In [ ]:
train['Fare_ceil']=train['Fare'].apply(np.ceil)

In [ ]:
train.loc[0:4,['Fare','Fare_ceil']]

In [ ]:
train['Name'].str.split(',').head()

In [ ]:
def get_element(my_list,position):
    return my_list[position]

In [ ]:
train['Name'].str.split(',').apply(get_element,position=0).head()

In [ ]:
train['Name'].str.split(',').apply(lambda x:x[0]).head()

In [ ]:
drinks.head()

In [ ]:
drinks.loc[:,'beer_servings':'wine_servings'].apply(max,axis=0)

In [ ]:
drinks.loc[:,'beer_servings':'wine_servings'].apply(np.argmax,axis=1)

In [ ]:
#Multiindex

In [ ]:
stocks=pd.read_csv('https://bit.ly/smallstocks')

In [ ]:
stocks.head()

In [ ]:
stocks.index

In [ ]:
stocks.groupby('Symbol')['Close'].mean()

In [ ]:
c=stocks.groupby(['Symbol','Date'])['Close'].mean()

In [ ]:
c

In [ ]:
c.index

In [ ]:
c.unstack() #Becomes DataFrame

In [ ]:
#Another way
df=stocks.pivot_table(values='Close',index='Symbol',columns='Date')

In [ ]:
df

In [ ]:
df.loc['AAPL','2016-10-03']

In [ ]:
c.loc['AAPL']

In [ ]:
c.loc[['AAPL','2016-10-3']]

In [ ]:
c.loc[:]

In [ ]:
df.loc['AAPL']

In [ ]:
df.loc['AAPL','2016-10-03']

In [ ]:
df.loc[:,'2016-10-03']

In [ ]:
stocks.set_index(['Symbol','Date'],inplace=True)

In [ ]:
stocks

In [ ]:
stocks.sort_index(inplace=True)
stocks

In [ ]:
stocks.loc['AAPL']

In [ ]:
stocks.loc[('AAPL','2016-10-03'),:] #Pass as Tuple so Pandas doesnt get Confused AS for debugging

In [ ]:
stocks.loc[('AAPL','2016-10-03'),'Close']

In [ ]:
stocks.loc[(['AAPL','MSFT'],'2016-10-03'),:]

In [ ]:
stocks.loc[(['AAPL','MSFT'],'2016-10-04'),:]

In [ ]:
stocks.loc[('AAPL',['2016-10-03','2016-10-04']),'Close']

In [ ]:
stocks.loc[(slice(None),['2016-10-03','2016-10-04']),:]

In [ ]:
volume=pd.read_csv('https://bit.ly/smallstocks',usecols=[0,2,3],index_col=['Symbol','Date'])
volume.head()

In [ ]:
close=pd.read_csv('https://bit.ly/smallstocks',usecols=[0,1,3],index_col=['Symbol','Date'])
close.head()

In [ ]:
both=pd.merge(close,volume,left_index=True,right_index=True)

In [ ]:
both

In [ ]:
both.reset_index()

In [ ]:
#Merging DataFrames

In [ ]:
#SELECTING A FUNCTION

#pd.concat([df1,df2])
  #Stacking many horizontal or vertically
  #Simple INNER/OUTER JOINS ON INDEXES


#pd.merge([df1,df2])
  #MANY JOINS ON MULTIPLE COLUMNS

In [ ]:
movie_cols=['movie_id','title']
movies=pd.read_table('https://bit.ly/movieitems',sep='|',header=None,usecols=[0,1],names=movie_cols)
movies.head()

In [ ]:
movies.shape

In [ ]:
movies['movie_id'].nunique()

In [ ]:
ratings_cols=['user_id','movie_id','rating','timestamp']
ratings=pd.read_table('https://bit.ly/movielensdata',sep='\t',header=None,names=ratings_cols)
ratings.head()

In [ ]:
ratings.shape

In [ ]:
ratings['movie_id'].nunique()

In [ ]:
ratings.loc[ratings['movie_id']==1,:].head()

In [ ]:
#IMPORTANT  IN MOVIES WE HAVE NAME OF MOVIE AND RATINGS IN RATINGS SO WE HAVE TO KNOW  RATINGS OF EACH OF MOVIES
#NAMES SO WE CAN MERGE THEM

In [ ]:
movie_ratings=pd.merge(movies,ratings)

In [ ]:
movie_ratings.columns

In [ ]:
movie_ratings.head()

In [ ]:
#ALL ARE INNER JOINS HOW =INNER

In [ ]:
#What if : columns we want to join dont have the same name SO Now data is same but name is different

In [ ]:
#so
movie_cols=['m_id','title']
movies=pd.read_table('https://bit.ly/movieitems',sep='|',header=None,usecols=[0,1],names=movie_cols)

In [ ]:
pd.merge(movies,ratings,left_on='m_id',right_on='movie_id').head()

In [ ]:
#WHAT IF: YOU WANT TO USE INDEX OF RIGHT DF, JOIN ON RIGHT INDEX

In [ ]:
movies=movies.set_index('m_id')

In [ ]:
pd.merge(movies,ratings,left_index=True,right_on='movie_id').head()

In [ ]:
#Whatif you want to join on two index [uses index of left Df]

In [ ]:
ratings=ratings.set_index('movie_id')
ratings.head()

In [ ]:
pd.merge(movies,ratings,left_index=True,right_index=True).head()

In [ ]:
#TYPES OF JOIN:
#INNER JOIN -- SAME THING IN BOTH & WHATS NOT COMMON GET REMOVED----pd.merge(A,B,how='inner')
#Outer Join -- ALL GETS INCLUDED ON BOTH DF----pd.merge(A,B,how='outer')
#LEFT JOIN----ALL KEYS IN LEFT DF ARE THERE REGARDLESS OF COMMON THING ---pd.merge(A,B,how='left')
#RIGHT join ---ALL KEYS IN RIGHT ARE THERE REGARDLESS OF COMMOM THING---pd.merge(A,B,how='right')

In [ ]:
#THANK YOU BY RAMA VEERA ISAIAH